<h1>チャットルーム</h1>

<!-- form_withだと余計なものが生成されるので<form>タグで実装 -->
<form>
<input type="text" data-behavior="room_speak">
</form>

<div id="messages_index">
<% @messages.each do |message| %>
  <%= render 'messages/message', message: message %>
<% end %>
  </div>